.center {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 27px;
    padding: 3em;
    font-family: 'Frank Ruhl Libre', serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

/* iframe{
    overflow:hidden;
} */

.navbar{
  margin-bottom: 0px;
  margin-top: 0px;
}

.noHover{
  pointer-events: none;
}

.error{
  color: crimson;
}

.form-control{
  width:20%
}


/* .iframe-container {
  overflow: hidden;
  padding-top: 42.00%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
} */