{% extends "layout.html" %}
{% block body %} 
<div class="center">

    <h2>À propos de moi</h2>
    <p>Développeur spécialisé dans les différentes étapes du traitement de la donnée, de la récupération, 
        transformation, analyse et exploitation de celle-ci. Que ce soit pour des besoins applicatives, de reporting ou de développement de modèles de machine learning. 
        J'ai aussi de l'expérience sur le cloud Microsoft Azure.
    </p>
    <br>
    <h3>Parcours</h3>
    <p>Dans l'IT depuis plus de 2 ans, j'ai commencé en auto-didacte, puis j'ai suivi une formation intensif de 7 mois centrée essentiellement
    sur Python, le traitement des données et le machine learning mais aussi un peu de développement Web, des API, des bases de données et du cloud Azure chez <a href="https://simplon.co/" target="_blank">Simplon</a>.<br> J'ai ensuite travaillé 1 an chez 
    <a href="https://www.exakis-nelite.com/" target="_blank">Exakis-Nelite</a>
    en tant que développeur Data et IA où j'ai travaillé dans l'environment du cloud Azure, fait du développement en
    .NET Core et React, rédiger une documentation sur les principes MLOPS et Azure Machine Learning, 
    travaillé sur des problématiques de base de données analytiques/data warehouse et Power BI.
    </p>
    <br>
    <h3>Certifications Microsoft Azure</h3>
    <div style="text-align: center;">
        <div data-iframe-width="280" data-iframe-height="270" data-share-badge-id="f5a8a216-e54b-44c2-ba4e-455353560271" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
        <div data-iframe-width="280" data-iframe-height="270" data-share-badge-id="9129126d-cf77-40ee-a13d-2da1f0331984" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
        <div data-iframe-width="280" data-iframe-height="270" data-share-badge-id="b1e6394f-5add-4fe4-960a-b15ff08e2b8d" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    </div>
    <h3>Certifications Simplon</h3>
    <div style="text-align: center;">
        <img src="/static/images/logos/simplon.png" width="100px" height="100px" style="margin-right: 20px;">
        <img src="/static/images/logos/france_competences.png" width="224px" height="100px">
    </div>
    <p>RS3497 : <a href="https://www.francecompetences.fr/recherche/rs/3497/" target="_blank">Data - Développer une base de données</a></p>
    <p>RS3508 : <a href="https://www.francecompetences.fr/recherche/rs/3508/" target="_blank">Data - Exploiter une base de données</a></p>
    <p>RS5005 : <a href="https://www.francecompetences.fr/recherche/rs/5005/" target="_blank">Exploiter l'intelligence artificielle dans le développement d'application</a></p>
</div>
{% endblock%}

{% block footer %} 
    <div class="center">
        <p style="text-align: center;">
        <a href="https://github.com/RGuseynov/Portfolio_site" target="_blank" style="margin-right: 20px;"><img src="/static/images/logos/github.png" width="50px" height="50px"></a>
        <a href="https://www.linkedin.com/in/rguseynov/" target="_blank"><img src="/static/images/logos/linkedin.png" width="50px" height="50px"></a>
        </p>
    </div>
{% endblock %}
