{% extends "layout.html" %}
{% block body %} 

<div class="center">
    <h1>Accueil</h1>
    <p>Bienvenue sur mon site, il présente quelques-unes de mes réalisations personnels :</p>
    <ul>
        <li><a href="{{ url_for('immo_presentation') }}">Marché Immobilier</a> : traitement/analyse de données, cartographie, estimateur de bien.
            <br>Technos utilisées : Python (Pandas, Scikit-learn, Folium)</li>
        <li><a href="{{ url_for('cl_presentation') }}">Climat</a> : traitement/analyse de données, clusterisation, rapport visuel.
            <br>Technos utilisées : Python (Pandas, Scikit-learn) et Power BI</li>
    </ul>
</div>

{% endblock %}

{% block footer %} 
    <div class="center">
    <p style="text-align: center;">Le site est codé en Python (Flask). Le code des projets et du site est disponible sur mon GitHub
        <br><a href="https://github.com/RGuseynov/Portfolio_site"><img src="/static/images/logos/github.png" width="50px" height="50px"></a></p>
    </div>
{% endblock %}
