<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rustam Guseynov Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand noHover">Rustam Guseynov Portfolio</div>
      <div class="navbar-brand noHover">Data & IA</div>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{{ url_for('home') }}">Accueil</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Marché Immobilier<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('data_exploration_page') }}">Exploration des données</a></li>
          <li><a href="{{ url_for('map_departement_page') }}">Carte de prix par département</a></li>
          <li><a href="{{ url_for('estimation') }}">Estimer un bien</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

{% block body %}{% endblock %}

</body>
</html>



