{% extends "layout.html" %}
{% block body %} 

<div class="center">
<h1>Étude du marché immobilier français</h1>
<p>Ce projet est constitué de deux éléments :</p>
<ul>
    <li><a href="{{ url_for('immo_map_departement') }}">Une cartographie</a> du prix du m2 par département.</li>
    <li><a href="{{ url_for('immo_estimation') }}">Un estimateur</a> de prix pour un bien immobilier.</li>
</ul>
<p>Le projet a été développé en Python avec Pandas, Scikit-learn et Folium.</p>

<h3>Données sources : </h3>
    <ul>
        <li><a href="https://www.data.gouv.fr/fr/datasets/demandes-de-valeurs-foncieres-geolocalisees/" target="_blank">DVF (Demandes de valeurs foncières) géolocalisées</a> 
            : l'historique des transactions foncières depuis 2014.</li>
        <li><a href="https://france-geojson.gregoiredavid.fr/" target="_blank">GeoJSON de la France</a>
            : délimitations des départements.</li>
    </ul>  

<h3>Étapes de traitement des données: </h3>
    <ul>
        <li><a href="{{ url_for('immo_data_exploration') }}">Exploration des données</a> (notamment de leurs distributions).</li>
        <li>Nettoyage/Filtrage (notamment des valeurs abérantes assez nombreuses), je garde les features (colonnes) pértinentes pour la suite.</li>
        <li>Aggrégation des données (pour connaitre le prix du m2 pour chaque département pour chaque année).</li>
        <li>Association de ces données au GeoJSON et génération de la carte de prix.</li>
        <li>Préparation et sauvegarde des données propres pour faire du machine learning.</li>
    </ul>

<h3>Machine Learning :</h3>
<p>En utilisant la surface, le nombre de pièces et la géolocalisation du bien: entrainement d'un modèle de régression linéaire et d'un arbre de décision.</p>
<ul>
    <li>Pour la Régression linéaire : de part la corrélation non linéaire entre les features de géolocalisation et le prix du bien, 
        il n'est pas possible de les utiliser tel quel.
        On utilisera le prix médian des départements comme feature de géolocalisation à la place. Standardisation des données.
    </li>
    <li>Pour l'arbre de décision : utlisation de différentes combinaisons de features de géolocalisation 
    parmis le département, le code postal, le code commune et le duo longitude/latitude. 
    Il n'y a pas de grande différence, hormis le fait que le code département a peu d'impact sur le modèle 
    étant donné qu'on dispose de "versions" plus précises de cette feature que sont le code postal et le code commune.
    L'utilisation du duo longitude/latitude n'a pas augmenté la précision du modèle.
    </li>
</ul>
<p>Dans tout les cas, la surface, le nombre de pièces et la géolocalisation ne sont pas suffisants à eux seuls pour
estimer correctement un bien. Beaucoup d'autres variables dont on ne dispose pas peuvent avoir des impacts significatifs sur le prix
(ancienneté, état du bien, chauffage, étage...). On pourrait aussi penser à croiser la localisation des biens avec d'autres données geospatiales (densité des zones, axe routier, proximité transport/commerce, distance de la mer, altitude...).
</p>

<h3>Résultats :</h3>
<p>Mauvais pour le modèle de régression linéaire et relativement correcte pour l'arbre de décision en considérant le faible nombre de features.</p>
<p>Le pourcentage d'écart moyen entre le prix réel et le prix estimé est de 62% pour la régression linéaire et de 28% pour l'arbre de décision.</p>
<table>
    <tr>
      <th>Métrique</th>
      <th>Régression Linéaire</th>
      <th>Arbre de décision</th>
    </tr>
    <tr>
      <td>Moyenne des erreurs absolus</td>
      <td>82852 €</td>
      <td>45747 €</td>
    </tr>
    <tr>
      <td>Moyenne des pourcentages des erreurs absolus</td>
      <td>62%</td>
      <td>28%</td>
    </tr>
  </table>
  <br>
  <h3><a href="{{ url_for('immo_estimation') }}">Tester l'estimateur</a></h3>
</div>

{% endblock %}
